/* Estilo global */

/* --Paleta de cores-- 

Azul    : #262460
Verde 1 : #94cba9
Verde 2 : #68b980 
Verde 3 : #25aa6a

*/


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
}

/* Cabeçalho */
header {
    background-color: #ffffff;
    color: white;
    padding: 20px;
    margin-top: 30px;
    /* Espaço acima */
    margin-bottom: 60px;
    /* Espaço abaixo */
}

.header-with-bg {
    background-image: url('images/cabecalho.png');
    /* Caminho da imagem */
    background-size: cover;
    /* Garante que a imagem cubra todo o cabeçalho */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita repetições */
    height: 40vh;
    /* Reduz a altura do cabeçalho para 60% da altura da tela */
    display: flex;
    /* Centraliza o conteúdo */
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    /* Torna o texto visível */
    font-size: 2rem;
    /* Tamanho do texto */
    margin: 0;
    /* Remove margens externas */
    padding: 20px 0;
    /* Reduz o espaçamento interno vertical */
}

main {
    margin-top: 0;
    /* Remove margens acima do conteúdo principal */
    padding-top: 20px;
    /* Espaço mínimo para separação */
}

/*Logo para ser utilizada ao longo do Site*/
.logo-img {
    max-width: 200px;
    /* Ajuste o tamanho máximo da imagem */
    height: auto;
    /* Mantém a proporção da imagem */
    display: inline-block;
    /* Garante que fique na mesma linha se necessário */
    vertical-align: bottom;
    /* Centraliza verticalmente */
}

/* Vídeo */
.video-container {
    display: block;
    margin: 20px auto;
    width: 80%;
    max-width: 700px;
    height: 400px;
    /* Altura proporcional */
    border: 5px solid #262460;
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 60px;
    /* Espaço abaixo */
}

/* Contêiner de benefícios */
.benefits-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    /* Largura mínima e máxima */
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    /* Espaço acima */
    margin-bottom: 60px;
    /* Espaço abaixo */
}

/* Estilo dos bloquinhos */
.benefit-block {
    background-image: url('images/favicon.png');
    /* Caminho da imagem de fundo */
    background-size: 80px;
    /* Tamanho da imagem */
    background-position: center;
    /* Centraliza a imagem de fundo */
    background-repeat: no-repeat;
    /* Evita repetições */
    background-color: rgba(255, 255, 255, 0.8);
    /* Cor branca semi-transparente */
    background-blend-mode: lighten;
    /* Mistura a cor com a imagem */
    border: 2px solid #ddd;
    /* Borda leve */
    border-radius: 8px;
    /* Cantos arredondados */
    padding: 30px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra leve */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Efeito de hover */
}

/* Efeito ao passar o mouse */
.benefit-block {
    transform: translateY(-5px);
    /* Move o bloquinho levemente para cima */
    box-shadow: 0 6px 12px #25aa6a;
    /* Aumenta a sombra */
}

/* Estilo dos títulos */
.benefit-block h3 {
    font-size: 1.2rem;
    color: #25aa6a;
    margin-bottom: 10px;
}

/* Estilo dos parágrafos */
.benefit-block p {
    font-size: 1rem;
    color: #262460;
    line-height: 1.5;
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
    .benefits-container {
        grid-template-columns: 1fr;
        /* Um bloquinho por linha */
    }
}

/* Contêiner de NOPE benefícios */
.nope-benefits-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    /* Largura mínima e máxima */
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    /* Espaço acima */
    margin-bottom: 60px;
    /* Espaço abaixo */
}

.highlight {
    color: #e20606;
    /* Cor desejada */
    font-weight: bold;
    /* Opcional: deixar em negrito */
}

/* Estilo dos bloquinhos */
.nope-benefit-block {
    background-image: url('images/x.png');
    /* Caminho da imagem de fundo */
    background-size: 80px;
    /* Tamanho da imagem */
    background-position: center;
    /* Centraliza a imagem de fundo */
    background-repeat: no-repeat;
    /* Evita repetições */
    background-color: rgba(255, 255, 255, 0.8);
    /* Cor branca semi-transparente */
    background-blend-mode: lighten;
    /* Mistura a cor com a imagem */
    border: 2px solid #ddd;
    /* Borda leve */
    border-radius: 8px;
    /* Cantos arredondados */
    padding: 30px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra leve */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Efeito de hover */
}

/* Efeito ao passar o mouse */
.nope-benefit-block {
    transform: translateY(-5px);
    /* Move o bloquinho levemente para cima */
    box-shadow: 0 6px 12px #e20606;
    /* Aumenta a sombra */
}

/* Estilo dos títulos */
.nope-benefit-block h3 {
    font-size: 1.2rem;
    color: #e20606;
    margin-bottom: 10px;
}

/* Estilo dos parágrafos */
.nope-benefit-block p {
    font-size: 1rem;
    color: #262460;
    line-height: 1.5;
}

/*Provas Sociais*/
#image-section {
    margin-top: 50px;
    /* Espaço acima da seção */
    margin-bottom: 50px;
    /* Espaço abaixo da seção */
    text-align: center;
    /* Centraliza a imagem */
    margin-top: 30px;
    /* Espaço acima */
    margin-bottom: 60px;
    /* Espaço abaixo */
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.responsive-image {
    width: 80%;
    /* Garante que a imagem ocupe 60% da largura da section */
    height: auto;
    /* Mantém a proporção da imagem */
    border-radius: 30px;
    /* Bordas suaves */
    box-shadow: 0 4px 8px #262460;
    /* Sombra suave */
    object-fit: cover;
    /* Garante que a imagem cubra toda a área da section sem distorcer */
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
    .nope-benefits-container {
        grid-template-columns: 1fr;
        /* Um bloquinho por linha */
    }
}

#button {
    display: flex;
    /* Centraliza o botão */
    justify-content: center;
    /* Centraliza horizontalmente */
    margin: 100px 0;
    /* Espaçamento acima e abaixo da seção */
}

#button .cta {
    display: inline-block;
    /* Mantém o botão responsivo */
    background-color: #25aa6a;
    /* Cor de fundo */
    color: #fff;
    /* Cor do texto */
    text-decoration: none;
    /* Remove o sublinhado */
    padding: 40px 60px;
    /* Tamanho reduzido do botão */
    border-radius: 20px;
    /* Bordas arredondadas */
    font-size: 1rem;
    /* Tamanho da fonte menor */
    font-weight: bold;
    /* Texto em negrito */
    box-shadow: 0 6px 12px #25aa6a;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Transição suave */
}

#button .cta:hover {
    background-color: #008000;
    /* Cor ao passar o mouse */
    transform: scale(1.1);
    /* Leve aumento ao passar o mouse */
}

#button .cta:active {
    transform: scale(0.95);
    /* Leve redução ao clicar */
}

/*Chamada*/
#chamada {
    margin: 100px 0;
    /* Espaçamento acima e abaixo da seção */
    text-align: center;
    /* Centraliza o conteúdo dentro da seção */
}

.chamada-container {
    display: flex;
    /* Configuração flexível para centralizar a imagem */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
}

.chamada-image {
    width: 100%;
    /* Responsivo: a imagem ocupa toda a largura disponível */
    max-width: none;
    /* Limita o tamanho máximo da imagem */
    height: auto;
    /* Mantém a proporção da imagem */
    border-radius: 5px;
    /* Bordas suaves */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    /* Sombra suave */
}

/*  Chamada2    */

/* Estilo geral da seção */
#image-blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Ajusta os itens para várias linhas em telas menores */
    gap: 70px;
    /* Espaçamento entre os bloquinhos */
    margin: 50px 0;
    /* Espaçamento superior e inferior */
}

/* Estilo dos bloquinhos */
#image-blocks .block {
    text-align: left;
    width: 450px;
    /* Largura fixa para os bloquinhos */
    background-color: #f7f7f7;
    /* Fundo neutro */
    border-radius: 15px;
    /* Cantos arredondados */
    padding: 20px;
    /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Sombra leve */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Efeito de hover */
}

/* Estilo das imagens */
#image-blocks .block img {
    width: 100%;
    /* Faz a imagem se ajustar à largura do bloquinho */
    border-radius: 8px;
    /* Arredonda as bordas das imagens */
}

/* Estilo das frases */
#image-blocks .block p {
    margin-top: 10px;
    /* Espaçamento entre imagem e texto */
    font-size: 0.9rem;
    /* Tamanho da fonte ajustado */
    color: #333;
}

/* Estilo geral do CTA */
#cta-final {
    background-color: #262460;
    /* Azul chamativo */
    color: #fff;
    /* Texto branco */
    padding: 40px 20px;
    text-align: center;
    border-radius: 12px;
    /* Cantos arredondados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Sombra para destaque */
    margin: 50px auto;
    max-width: 800px;
    /* Limita a largura do bloco */
}

/* Título do CTA */
.cta-title {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #fff;
}

/* Descrição do CTA */
.cta-description {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

/* Contêiner dos preços */
.pricing-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    /* Ajusta em telas menores */
}

/* Cada bloco de preço */
.pricing-block1 {
    background-color: #fff;
    color: #262460;
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: 0 18px 18px rgba(11, 193, 7, 0.6);
    text-align: center;
    /* Sombra leve */
    font-size: 1rem;
    min-width: 150px;
}

.pricing-block2 {
    background-color: #fff;
    color: #262460;
    padding: 25px 25px;
    border-radius: 15px;
    box-shadow: 0 18px 18px rgba(11, 193, 7, 0.6);
    text-align: center;
    /* Sombra leve */
    font-size: 1rem;
    min-width: 150px;
}

/* Destaque do preço */
.pricing-block h3 {
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.pricing-block p {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
}

/* Botão do CTA */
.cta-button {
    display: inline-block;
    background-color: #68b980;
    color: #fffefe;
    text-decoration: none;
    background-color: #39ff14;
    box-shadow: 0 0 10px 4px rgba(11, 252, 3, 0.8), 0 0 20px 6px rgba(11, 193, 7, 0.6), 0 0 30px 8px rgba(255, 193, 7, 0.4);
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

/* Seções */
main section {
    margin: 40px 20px;
}

h1,
h2 {
    color: #262460;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

p,
ul {
    font-size: 18px;
}

/*Aviso Legal*/
#legal-notice {
    background-color: #f8f9fa;
    /* Cor de fundo clara para destacar sem sobrecarregar */
    padding: 20px;
    margin-top: 25px;
    border-top: 1px solid #ddd;
    /* Linha separadora */
    font-size: 0.1rem;
    /* Tamanho de fonte menor para não roubar a atenção */
    color: #555;
    /* Cor de texto mais suave */
    text-align: center;
    /* Centraliza o texto */
}

.legal-text {
    line-height: 1.6;
    /* Aumenta o espaçamento entre as linhas para melhorar a leitura */
    max-width: 90%;
    /* Limita a largura do texto para não ficar muito espalhado */
    margin: 0 auto;
    /* Centraliza o texto */
    word-wrap: break-word;
    /* Quebra as palavras longas para evitar que ultrapassem o limite */
}

/* Estilos do Footer */
footer {
    background-color: #262460;
    /* Fundo escuro para o footer */
    color: #fff;
    /* Texto claro */
    padding: 7px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media p {
    margin-right: 15px;
    font-size: 1rem;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.footer-right {
    text-align: right;
}

.footer-right p {
    font-size: 0.9rem;
    margin: 5px 0;
}

.footer-logo {
    width: 35px;
    height: auto;
    margin-top: 10px;
}

/* Animações */
.animate-text {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-text.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .cta {
        font-size: 16px;
        padding: 10px 20px;
    }

    p,
    ul {
        font-size: 16px;
    }
}